        <div class="post big">
          <div class="row">
            <div class="col-md-12">
              <span class="post-tag">{{ article.tags }}</span>
                <a href="{{ SITEURL }}/{{ article.url }}" class="post-title" rel="bookmark"
     title="Permalink to {{ article.title|striptags|e }}">
    {{ article.title }}
  </a>
              <span class="post-date">{{ article.locale_date }}</span>
              <p class="post-description">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis <a href="home-full-width.html#">parturient montes</a>, nascetur ridiculus mus. Aenean commodo ligula eget dolor.</p>
            </div>
          </div>
        </div>
