{% extends "base.html" %}
{% block title %}{{ article.title|striptags|e }} - {{ SITENAME }}{% endblock %}
{% block metadesc %}{{ article.description|e }}{% endblock %}
{% block open_graph %}
    {% if OPEN_GRAPH %}
        <meta property="og:type" content="article"/>
        <meta property="og:title" content="{{ article.title|striptags|e }}"/>
        <meta property="og:url" content="{{ SITEURL }}/{{ article.url }}"/>
        {% if article.description %}
            <meta property="og:description" content="{{ article.description|striptags|e }}"/>
        {% endif %}
        {% if article.category %}
            <meta property="article:section" content="{{ article.category }}"/>
        {% endif %}
        {% if article.tags %}
            {% for tag in article.tags %}
                <meta property="article:tag" content="{{ tag }}"/>
            {% endfor %}
        {% endif %}
        {% if OPEN_GRAPH_ARTICLE_AUTHOR %}
            <meta property="article:author"
                  content="{{ OPEN_GRAPH_ARTICLE_AUTHOR }}"/>
        {% endif %}
        {% if article.social_image %}
            <meta property="og:image"
                  content="{{ SITEURL }}/images/{{ article.social_image }}"/>
        {% else %}
            {% if DEFAULT_SOCIAL_IMAGE %}
                <meta property="og:image"
                      content="{{ SITEURL }}/images/{{ DEFAULT_SOCIAL_IMAGE }}"/>
            {% endif %}
        {% endif %}
    {% endif %}
    {% if TWITTER_CARD and TWITTER_USERNAME %}
        <meta name="twitter:card" content="summary">
        <meta name="twitter:title" content="{{ article.title|striptags|e }}">
        <meta name="twitter:description" content="{{ article.description|striptags|e }}">
        <meta name="twitter:site" content="@{{ TWITTER_USERNAME }}">
        <meta name="twitter:creator" content="@{{ TWITTER_USERNAME }}">
        <meta name="twitter:domain" content="{{ SITEURL }}">
        {% if article.social_image %}
            <meta property="twitter:image"
                  content="{{ SITEURL }}/images/{{ article.social_image }}"/>
        {% else %}
            {% if DEFAULT_SOCIAL_IMAGE %}
                <meta property="twitter:image"
                      content="{{ SITEURL }}/images/{{ DEFAULT_SOCIAL_IMAGE }}"/>
            {% endif %}
        {% endif %}
    {% endif %}
{% endblock %}
{% block custom_header %}
    {% if CUSTOM_HEADER_ARTICLE %}
        {% include "includes/" + CUSTOM_HEADER_ARTICLE %}
    {% endif %}
{% endblock %}
{% block container_header %}
    {% if CUSTOM_CONTAINER_TOP_ARTICLE %}
        {% include "includes/" + CUSTOM_CONTAINER_TOP_ARTICLE %}
    {% endif %}
{% endblock container_header %}
{% block content_header %}
    {% include "includes/" + CUSTOM_CONTENT_TOP_ARTICLE|default("article_top.html") ignore missing %}
{% endblock content_header %}

{% block    content_body %}
    <div id="single">

        <div class="container">

            <div class="post">
                <!-- include image here if we want images in post -->
                {#                <img src="img/photos/DeathtoStockSerenity8.jpg" class="img-responsive"/>#}

                <div class="caption">
                    <div class="header">
                        <a href="{{ SITEURL }}/{{ article.url }}" class="post-title" rel="bookmark"
                           title="Permalink to {{ article.title|striptags|e }}">
                            {{ article.title }}
                        </a>
                    </div>
                    {# adding alchemy article header here in UL tag #}
                    <ul class="list-inline">
                        <li class="post-dates">
                            <a class="text-muted" href="/{{ article.url }}"
                               title="{{ article.date.isoformat() }}">{{ article.locale_date }}</a>
                        </li>
                        <li class="muted">&middot;</li>
                        <li class="post-category">
                            <a href="{{ SITEURL }}/{{ article.category.url }}">{{ article.category }}</a>
                        </li>
                        {% if article.tags %}
                            <li class="muted">&middot;</li>
                            <li>
                                {% for tag in article.tags %}
                                    <a href="{{ SITEUrL }}/tag/{{ tag }}.html">{{ tag }}</a>{% if not loop.last %},
                                {% endif %}
                                {% endfor %}
                            </li>
                        {% endif %}
                        {% if article.author and SHOW_ARTICLE_AUTHOR %}
                            <li class="muted">&middot;</li>
                            <li>
                                <address class="post-author">
                                    By <a href="{{ SITEURL }}/{{ article.author.url }}">{{ article.author }}</a>
                                </address>
                            </li>
                        {% endif %}
                    </ul>
                    {{ article.content }}
                    <p>{{ article.stats['wc'] }} words ~ {{ article.stats['read_mins'] }} min read</p>
                    <ul>
                        <li>Flesch-kincaid Index / Reading Ease: {{ article.stats['fi'] }}</li>
                        <li>Flesch-kincaid Grade Level: {{ article.stats['fk'] }}</li>
                    </ul>
                </div>

            </div>

            {% if DISQUS_SITENAME and SITEURL and article.status != "draft" %}
                <div class="comments">
                    <h2>Comments</h2>

                    <div id="disqus_thread"></div>
                    <script type="text/javascript">
                        (function () {
                            var dsq = document.createElement('script');
                            dsq.type = 'text/javascript';
                            dsq.async = true;
                            dsq.src = '//{{ DISQUS_SITENAME }}.disqus.com/embed.js';
                            (document.getElementsByTagName('head')[0] ||
                            document.getElementsByTagName('body')[0]).appendChild(dsq);
                        })();
                    </script>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock content_body %}
{% block    content_footer %}
    {% if CUSTOM_CONTENT_BOTTOM_ARTICLE %}
        {% include "includes/" + CUSTOM_CONTENT_BOTTOM_ARTICLE %}
    {% endif %}
{% endblock content_footer %}

{% block    container_footer %}
    {% if CUSTOM_CONTAINER_BOTTOM_ARTICLE %}
        {% include "includes/" + CUSTOM_CONTAINER_BOTTOM_ARTICLE %}
    {% endif %}
{% endblock container_footer %}

{% block scripts %}
    {% if CUSTOM_SCRIPTS_ARTICLE %}
        {% include "includes/" + CUSTOM_SCRIPTS_ARTICLE %}
    {% endif %}
{% endblock %}
