{% extends "base.html" %}
{% block title %}{{ super() }}{% if articles_page and articles_page.number > 1 %} - Page {{ articles_page.number }}
{% endif %}{% endblock %}
{% block meta_other %}
    {% include "includes/" + CUSTOM_INDEX_META|default("index_meta.html") ignore missing %}
{% endblock %}

{% block custom_header %}
    {% if CUSTOM_HEADER_INDEX %}
        {% include "includes/" + CUSTOM_HEADER_INDEX %}
    {% endif %}
{% endblock custom_header %}

{% block container_header %}
    {% if CUSTOM_CONTAINER_TOP_INDEX %}
        {% include "includes/" + CUSTOM_CONTAINER_TOP_INDEX %}
    {% endif %}
{% endblock container_header %}

{% block    content_header %}
    {% if CUSTOM_CONTENT_TOP_INDEX %}
        {% include "includes/" + CUSTOM_CONTENT_TOP_INDEX %}
    {% endif %}
{% endblock content_header %}

{% block content_body %}
    <div id="posts">
    {% block article %}
      {% include 'includes/index_summaries.html' %}
    {% endblock article %}
    </div>
    {% include 'includes/pagination.html' %}

{% endblock content_body %}

{% block    content_footer %}
    {% if CUSTOM_CONTENT_BOTTOM_INDEX %}
        {% include "includes/" + CUSTOM_CONTENT_BOTTOM_INDEX %}
    {% endif %}
{% endblock content_footer %}

{% block    container_footer %}
    {% if CUSTOM_CONTAINER_BOTTOM_INDEX %}
        {% include "includes/" + CUSTOM_CONTAINER_BOTTOM_INDEX %}
    {% endif %}
{% endblock container_footer %}
